<header id="menubar">
	<a href="/"><span class="head-main">Voting App</span></a>
	<div class="menu-group">
		{{#if user}}
		<a class="menu" href="/profile">Profile</a>
		<span class="divider">|</p>
		<a class="menu" href="/logout">Logout</a>
		{{else}}
		<a class="menu" href="/login">Login</a>
		{{/if}}
	</div>
</header>
<div id="menubar-space"> </div>