<header id="menubar">
	<a href="/"><span class="head-main">Voting App</span></a>
	<div class="menu-group">
		{{#if user}}
		<a class="menu-item" href="/new">New Poll</a>
		<a class="menu-item" href="/profile">Profile</a>
		<a class="menu-item" href="/logout">Logout</a>
		{{else}}
		<a class="menu-item" href="/login">Login</a>
		{{/if}}
	</div>
</header>
<div id="menubar-space"> </div>