<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
    {{{body}}}
    {{#each scripts}}
    <script type="text/javascript" src="{{this}}"></script>
    {{/each}}
</body>
</html>