{{> menubar}}
<h2 class="poll-title-head"></h2>
<form id="poll" :action="voteUrl" method="POST"><!-- uses vue.js --> 
    <div class="choice" v-for="choice in choices">
        <input class="choice-btn" type="radio" name="choice" :value="choice.choice" v-model="chose" />${choice.choice}<br />
    </div>
    {{#if user.github.id}}
    <input id="other-btn" class="choice-btn" type="radio" name="choice" value="other" v-model="chose" />Other: <input id="other-text" type="text" name="otherText" /><br/>
    {{/if}}
    <input id="submit-choice" type="submit" value="Submit" :disabled="!chose" />
</form>
<div id="chart"></div>
