@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

#wrapper {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #eee; }

a {
  color: inherit;
  text-decoration: inherit; }

.head-main {
  font-size: 36px;
  margin-left: 6px; }

#menubar {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  padding: 8px;
  text-align: left;
  z-index: 10;
  color: #eee;
  background-color: #34cacc; }
  #menubar * {
    display: inline-block; }
  #menubar .menu-group {
    float: right; }

.menu-item {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  margin: 9px 16px 9px 0;
  padding: 4px;
  border-radius: 3px;
  text-decoration: none; }
  .menu-item:hover {
    color: #34cacc;
    background-color: #eee; }

#menubar-space {
  height: 64px; }

#polls {
  text-align: left;
  display: inline-block;
  min-width: 80%;
  padding: 8px; }

.poll {
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #ccc; }
  .poll:nth-child(even) {
    background-color: #ddd; }
  .poll a:hover {
    text-decoration: underline; }
  .poll .poll-title {
    font-weight: 500; }

#login-btn {
  display: inline-block;
  margin-top: 20vh;
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  color: #eee;
  background-color: #34cacc; }
  #login-btn img {
    margin-left: auto; }

.poll-title-head {
  margin: 1em; }

#poll-wrapper {
  width: 838px;
  margin: 0 auto; }

#poll {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: white;
  float: left;
  width: 400px;
  margin-right: 36px;
  overflow: auto; }
  #poll .choice {
    margin: 8px 0; }

#chart {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  border: 1px solid #ddd; }

#user-head {
  margin: 1em 0 4px 0; }

#username-head {
  margin-bottom: 10px;
  font-weight: 400;
  font-style: italic;
  color: #222; }

#new-poll {
  display: inline-block;
  margin-top: 24px;
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: white; }
  #new-poll .new-poll-input {
    margin: 10px 0; }
  #new-poll textarea {
    min-height: 4em; }

.new-head {
  margin: 12px; }

.hidden {
  display: none; }

#delete-btn {
  color: #922;
  opacity: 0.5;
  cursor: pointer; }
  #delete-btn:hover {
    opacity: 0.8; }
